---
layout: null
excluded_in_search: true
---

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i";

h1 + h2 {
    margin-top: 1.5rem;
}

h2 {
    font-size: 1.3rem !important;
}

h3 {
    font-size: 1.1rem !important;
}

.state-icon {
    height: 1.3rem !important;
    width: 1.3rem !important;
    margin-right: 0.2rem;
}

.native-width {
    width: unset !important;
}

pre {
    padding: 0.8rem;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    padding-left: 1em;
    border-left: 3px solid #ccc;
    font-style: italic;
}

/* ----------------------------------------------------------------------------------------------- */

.gh-source {
    display: block;
    padding-right: 1.2rem;
    transition: opacity .25s;
    font-size: 0.8rem;
    line-height: 1.2;
    color: white;
    white-space: nowrap;
}
[dir=rtl] .gh-source {
    padding-right: 0;
    padding-left: 1.2rem;
}
.gh-source:hover {
    color: yellow;
}
.gh-source__icon+.gh-source__repository {
    margin-left: -4.4rem;
    padding-left: 4rem;
}
[dir=rtl] .gh-source__icon+.gh-source__repository {
    margin-right: -4.4rem;
    margin-left: 0;
    padding-right: 4rem;
    padding-left: 0;
}
.gh-source__repository {
    display: inline-block;
    max-width: 100%;
    margin-left: 1.2rem;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
.gh-source__facts {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 700;
    list-style-type: none;
    opacity: .75;
    overflow: hidden;
}
[data-md-state=done] .gh-source__facts {
    -webkit-animation: md-source__facts--done .25s ease-in;
    animation: md-source__facts--done .25s ease-in;
}
.gh-source__fact {
    float: left;
}
[dir=rtl] .gh-source__fact {
    float: right;
}
[data-md-state=done] .gh-source__fact {
    -webkit-animation: md-source__fact--done .4s ease-out;
    animation: md-source__fact--done .4s ease-out;
}
.gh-source__fact:before {
    margin: 0 .2rem;
    content: "\B7"}
.gh-source__fact:first-child:before {
    display: none;
}
.gh-source-file {
    display: inline-block;
    margin: 1em .5em 1em 0;
    padding-right: .5rem;
    border-radius: .2rem;
    background-color: rgba(0, 0, 0, .07);
    font-size: 1.28rem;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
}
.gh-source-file:before {
    display: inline-block;
    margin-right: .5rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .26);
    color: #fff;
    font-size: 1.6rem;
    content: "\E86F";
    vertical-align: middle;
}


.td-sidebar-nav {
    padding-right: .5rem;
    margin-right: -15px;
    margin-left: -15px
}

@media(min-width:768px) {
    @supports((position: -webkit-sticky) or (position: sticky)) {
        .td-sidebar-nav {
            max-height: -webkit-calc(100vh - 10rem);
            max-height: calc(100vh - 10rem);
            overflow-y: auto
        }
    }
}

@media(min-width:768px) {
    .td-sidebar-nav {
        display: block!important
    }
}

.td-sidebar-nav__section {
    padding-left: 0;
    margin-bottom: 0px;
}

.td-sidebar-nav__section li {
    list-style: none
}

.td-sidebar-nav__section ul {
    padding: 0;
    margin: 0
}

.td-sidebar-nav__section>ul {
    padding-left: .5rem
}

.td-sidebar-nav__section-title {
    display: block;
    font-weight: 500
}

.td-sidebar-nav__section-title .active {
    font-weight: 700
}

.td-sidebar-nav__section-title a {
    color: #222
}

.td-sidebar-nav .td-sidebar-link {
    display: block;
    padding-bottom: .375rem
}

.td-sidebar-nav .td-sidebar-link__page {
    color: #495057;
    font-weight: 300
}

.td-sidebar-nav a:hover {
    color: #72a1e5;
    text-decoration: none
}

.td-sidebar-nav a.active {
    font-weight: 700
}

.td-sidebar-nav .dropdown a {
    color: #495057
}

.td-sidebar-nav .dropdown .nav-link {
    padding: 0 0 1rem
}

.td-sidebar {
    padding-bottom: 1rem
}

@media(min-width:768px) {
    .td-sidebar {
        padding-top: 4rem;
        background-color: rgba(48, 99, 142, .03);
        padding-right: 1rem;
        border-right: 1px solid #dee2e6
    }
}

.td-sidebar__toggle {
    line-height: 1;
    color: #222;
    margin: 1rem
}

.td-sidebar__search {
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px
}

.td-sidebar__inner {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0
}

@media(min-width:768px) {
    @supports((position: -webkit-sticky) or (position: sticky)) {
        .td-sidebar__inner {
            position: -webkit-sticky;
            position: sticky;
            top: 4rem;
            z-index: 10;
            height: -webkit-calc(100vh - 6rem);
            height: calc(100vh - 6rem)
        }
    }
}

@media(min-width:1200px) {
    .td-sidebar__inner {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 320px;
        -ms-flex: 0 1 320px;
        flex: 0 1 320px
    }
}

.td-sidebar__inner .td-search-box {
    width: 100%
}

.td-toc {
    border-left: 1px solid #dee2e6;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding-top: .75rem;
    padding-bottom: 1.5rem;
    vertical-align: top
}

@supports((position:-webkit-sticky) or (position:sticky)) {
    .td-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        height: -webkit-calc(100vh - 10rem);
        height: calc(100vh - 10rem);
        overflow-y: auto
    }
}

.td-toc a {
    display: block;
    font-weight: 300;
    padding-bottom: .25rem
}

.td-toc li {
    list-style: none;
    display: block
}

.td-toc li li {
    margin-left: .5rem
}

.td-toc .td-page-meta a {
    font-weight: 500
}

.td-toc #TableOfContents a {
    color: #888
}

.td-toc #TableOfContents a:hover {
    color: #72a1e5;
    text-decoration: none
}

.td-toc ul {
    padding-left: 0
}

.btn {
    border-radius: 1rem
}

.btn-lg,
.btn-group-lg>.btn {
    border-radius: 2rem
}

.btn-sm,
.btn-group-sm>.btn {
    border-radius: 1rem
}

.breadcrumb {
    background: 0 0;
    padding-left: 0;
    padding-top: 0
}

.alert {
    font-weight: 500;
    background: #fff;
    color: inherit;
    border-radius: 0
}

.alert-primary {
    border-style: solid;
    border-color: {{ site.color }};
    border-width: 0 0 0 4px
}

.alert-primary .alert-heading {
    color: {{ site.color }}
}

.alert-secondary {
    border-style: solid;
    border-color: #888;
    border-width: 0 0 0 4px
}

.alert-secondary .alert-heading {
    color: #888
}

.alert-success {
    border-style: solid;
    border-color: #13a733;
    border-width: 0 0 0 4px
}

.alert-success .alert-heading {
    color: #13a733;
}

.alert-info {
    border-style: solid;
    border-color: #479de7;
    border-width: 0 0 0 4px
}

.alert-info .alert-heading {
    color: #479de7;
}

.alert-warning {
    border-style: solid;
    border-color: #f7820a;
    border-width: 0 0 0 4px
}

.alert-warning .alert-heading {
    color: #f7820a
}

.alert-danger {
    border-style: solid;
    border-color: #d95040;
    border-width: 0 0 0 4px
}

.alert-danger .alert-heading {
    color: #d95040
}

.alert-light {
    border-style: solid;
    border-color: #d3f3ee;
    border-width: 0 0 0 4px
}

.alert-light .alert-heading {
    color: #d3f3ee
}

.alert-dark {
    border-style: solid;
    border-color: #403f4c;
    border-width: 0 0 0 4px
}

.alert-dark .alert-heading {
    color: #403f4c
}

.td-content {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

.td-content p,
.td-content li,
.td-content td {
    font-weight: 400
}

.td-content>h1 {
    font-weight: 700;
    margin-bottom: 1rem
}

.td-content>h2 {
    margin-bottom: 1rem
}

.td-content>h2:not(:first-child) {
    margin-top: 2.5rem
}

.td-content>h2+h3 {
    margin-top: 1rem
}

.td-content>h3,
.td-content>h4,
.td-content>h5,
.td-content>h6 {
    margin-bottom: 1rem;
    margin-top: 2rem
}

.td-content>blockquote {
    padding: 0 0 0 1rem;
    margin-bottom: 1rem;
    color: #888;
    border-left: 6px solid {{ site.color }}
}

.td-content>ul li,
.td-content>ol li {
    margin-bottom: .25rem
}

.td-content strong {
    font-weight: 700
}

.td-content .alert:not(:first-child) {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.td-content .lead {
    margin-bottom: 1.5rem
}

.td-title {
    margin-top: 1rem;
    margin-bottom: .5rem
}

@media(min-width:576px) {
    .td-title {
        font-size: 3rem
    }
}

.td-search-input.form-control:focus {
    border-color: #f5f8fb;
    -webkit-box-shadow: 0 0 0 2px #82afd5;
    box-shadow: 0 0 0 2px #82afd5
}

.td-outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh
}

@media(min-width:768px) {
    .td-default main section:first-of-type {
        padding-top: 8rem
    }
}

.td-main {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.td-main main {
    padding-bottom: 2rem
}

@media(min-width:768px) {
    .td-main main {
        padding-top: 4.5rem
    }
}

.td-cover-block--height-min {
    min-height: 300px
}

.td-cover-block--height-med {
    min-height: 400px
}

.td-cover-block--height-max {
    min-height: 500px
}

.td-cover-block--height-full {
    min-height: 100vh
}

@media(min-width:768px) {
    .td-cover-block--height-min {
        min-height: 450px
    }
    .td-cover-block--height-med {
        min-height: 500px
    }
    .td-cover-block--height-max {
        min-height: 650px
    }
}

.td-cover-logo {
    margin-right: .5em
}

.td-cover-block {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    background-size: cover
}

.td-bg-arrow-wrapper {
    position: relative
}

.section-index .entry {
    padding: .75rem
}

.section-index h5 {
    margin-bottom: 0
}

.section-index h5 a {
    font-weight: 700
}

.section-index p {
    margin-top: 0
}

.pageinfo {
    font-weight: 500;
    background: #f8f9fa;
    color: inherit;
    border-radius: 0;
    margin: 2rem;
    padding: 1.5rem;
    padding-bottom: .5rem
}

.pageinfo-primary {
    border-style: solid;
    border-color: {{ site.color }}
}

.pageinfo-secondary {
    border-style: solid;
    border-color: #d95040
}

.pageinfo-success {
    border-style: solid;
    border-color: #3772ff
}

.pageinfo-info {
    border-style: solid;
    border-color: #c0e0de
}

.pageinfo-warning {
    border-style: solid;
    border-color: #ed6a5a
}

.pageinfo-danger {
    border-style: solid;
    border-color: #ed6a5a
}

.pageinfo-light {
    border-style: solid;
    border-color: #d3f3ee
}

.pageinfo-dark {
    border-style: solid;
    border-color: #403f4c
}

footer {
    min-height: 80px
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-container > small {
    width: 100%;
    text-align: center;
}

@media(min-width:768px) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden
    }
    h2[id]:before,
    h3[id]:before,
    h4[id]:before,
    h5[id]:before {
        display: block;
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden
    }

    .navbar-fixed-top {
        position: fixed !important;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030
    }

    h1, h2, h3, h4, h5, h6 {
        scroll-margin-top: 80px !important;
    }
}

.heading-anchor {
    color: transparent;
    font-size: 1.3rem;
    margin-left: 6px;
}

.heading-anchor:hover {
    color: black;
}

main {
    max-width: 1024px !important;
}

p > img {
    width: 100%;
}

